.heroimage{
background-color: var(--color-black);
height: 270px;
width: 100%;
}

.insidehero{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    text-align: center;
}