.navbar{
    display: flex;
    background-color: var(--color-primary);
    justify-content: space-between;
    height: 74px;
    align-items: center;
    width: 100%;
}

.logo{
    margin-left: 10px;
}